
<!-- About Start -->

<section id="{{ page.section-type }}" class="container content-section text-center" >
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>My name is Akshay Shete. I am pursuing my B.Tech in Computer Engineering from Veermata Jijabai Technological Institute <a href="http:vjti.ac.in">( VJTI, Mumbai ) </a>. I'm interested in programming, with my primary interests laying in Data Structures, Algorithms and Machine Learning. You can have look at my <a href="assets/resume.pdf">resume</a>

</p>
    </div>
  </div>
</section>

<!-- About End -->
