<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>fourier</title>
   <!--  <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"></script>
<!--     <script src="p5.sound.js"></script> -->
    <script src="../assets/js/codetrain2.js"></script>
    <script src="../assets/js/fourier.js"></script>
    <script src="../assets/js/sketch.js"></script>
  </head>
  <body></body>
</html>