
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

   <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

    <section id="{{ page.section-type }}" class="container content-section "  >

      <p><strong>Projects</strong></p> 
      <p><a href="https://github.com/akshayshete057/Programming-Flashcard">Programming FlashCard</a><br> A chrome extension that display C++ Programming Flash cards. Each time you open new tab or refreshes tab new flashcard is displayed.</p>
 
</section>

    {% include footer.html %}
   
    {% include js.html %}

  </body>
</html>
